<div class="col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="debt in billing.billingCycle.debts">
                <td>
                    <input ng-model="debt.name" class="form-control" placeholder="Informe o nome"
                        ng-readonly="billing.tabDelete">
                </td>
                <td>
                    <input ng-model="debt.value" class="form-control" placeholder="Informe o valor"
                        ng-readonly="billing.tabDelete" type="number">
                </td>
                <td>
                    <input ng-model="debt.status" class="form-control" placeholder="Informe o status"
                        ng-readonly="billing.tabDelete">
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-class="{ disable: billing.tabDelete }">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-warning" ng-class="{ disable: billing.tabDelete }">
                        <i class="fa fa-clone"></i>
                    </button>
                    <button class="btn btn-danger" ng-class="{ disable: billing.tabDelete }">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>